<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  #cat
  RewriteRule ^category/(.+)/(.+)$ cat.php?act=$1&id=$2 [L]
  RewriteRule ^category/(.+)$ cat.php?act=$1 [L]
  RewriteRule ^categoryerror/(.+)$ cat.php?error=$1 [L]
  #cat
  RewriteRule ^certification/(.+)/(.+)$ cert.php?act=$1&id=$2 [L]
  RewriteRule ^certification/(.+)$ cert.php?act=$1 [L]
  RewriteRule ^certificationerror/(.+)$ cert.php?error=$1 [L]
  #loc
  RewriteRule ^location/(.+)/(.+)$ loc.php?act=$1&id=$2 [L]
  RewriteRule ^location/(.+)$ loc.php?act=$1 [L]
  RewriteRule ^locationerror/(.+)$ loc.php?error=$1 [L]
  #product
  RewriteRule ^product/(.+)/(.+)$ productconf.php?act=$1&id=$2 [L]
  RewriteRule ^product/(.+)$ productconf.php?act=$1 [L]
  RewriteRule ^producterror/(.+)$ productconf.php?error=$1 [L]
  #Auth
  RewriteRule ^auth auth.php [L]
  #Auth
  RewriteRule ^logout logout.php [L]
  #settings
  RewriteRule ^settings settings.php [L]
  RewriteRule ^settings/(.+)$ settings.php?status=$1 [L]
</IfModule>